<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>anon_key</key>
	<string>eyJhbGciOiJIUzI1NiIsInR5cCI6IkpXVCJ9.eyJpc3MiOiJzdXBhYmFzZSIsInJlZiI6InlnbHptbmhxbmp5eGNsdXpjd2xpIiwicm9sZSI6ImFub24iLCJpYXQiOjE3NDQ1ODA5NDIsImV4cCI6MjA2MDE1Njk0Mn0.MZ2JTNGUlRyDpgQJhhcu7ewDCNGrCIYeUc8V89oDkWk</string>
	<key>supabase_url</key>
	<string>https://yglzmnhqnjyxcluzcwli.supabase.co/</string>
</dict>
</plist>
